body, div, ul, li, p {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Heiti SC", "Lucida Grenda", "Microsoft YaHei", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
}

#header {
	width: 100%;
	min-width: 1000px;
	height: 155px;
}

#content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	min-height: 550px;
	position: relative;
}

#footer {
	position: relative;
	float: left;
	padding: 24px 0 0 0;
	height: auto;
	width: 100%;
	min-width: 1000px;
	background-color: #89181b;
	box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px;
	z-index: 1;
}

#banner {
	width: 100%;
	height: 115px;
	background: #89181b;
}

#banner-content {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

#banner-content-logo {
	width: 75px;
	height: 75px;
	float: left;
	margin: 20px 10px;
	background: url(../images/logo.png) no-repeat;
}

#banner-content-title {
	width: 461px;
	height: 57px;
	float: left;
	margin: 29px 12px;
	background: url(../images/title.png) no-repeat;
}

#banner-content-right {
	width: 420px;
	height: 100%;
	float: right;
}

#banner-content-right-navi {
	width: 325px;
	height: 40px;
	float: left;
	margin-top: 30px;
	text-align: right;
	line-height: 20px;
}

#banner-content-right-navi p  {
	color: #ffffff;
	font-size: 10px;
	line-height: 14px;
	text-shadow: 0 0 4px rgba(0, 0, 0, .5);
	filter: glow(color=black,strength=1);
}

#banner-content-right-logo {
	width: 75px;
	height: 75px;
	float: right;
	margin: 20px 10px;
	background: url(../images/tsxtlogo.png) no-repeat;
}

#menubar {
	width: 100%;
	height: 40px;
	background: #ca1111; /* Old browsers */
	background: -moz-linear-gradient(top, #ca1111 0%, #941818 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca1111), color-stop(100%,#941818)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ca1111 0%,#941818 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ca1111 0%,#941818 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ca1111 0%,#941818 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ca1111 0%,#941818 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca1111', endColorstr='#941818',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	z-index: 50;
}

.menubar-float {
	position: fixed;
	top: 0px;
}

#menubar-content {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.menubar-content-menu {
	width: auto;
	height: 100%;
	float: left;
	line-height: 40px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	background: none;
	filter: glow(color=black,strength=1);
}

#menubar-content-helper {
	width: auto;
	height: 100%;
	float:right;
	line-height: 40px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	filter: glow(color=black,strength=1);
}

.menubar-content-menu:hover, #menubar-content-helper:hover {
	background: #671111;
}

.menubar-content-menu a, #menubar-content-helper a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-shadow: 0 0 3px rgba(0, 0, 0, .5);
	/*font-size: large;*/
	color: #fff;
}

.menubar-content-highlight {
	background: #941818; /* Old browsers */
	background: -moz-linear-gradient(top, #941818 0%, #ca1111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#941818), color-stop(100%,#ca1111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #941818 0%,#ca1111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #941818 0%,#ca1111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #941818 0%,#ca1111 100%); /* IE10+ */
	background: linear-gradient(to bottom, #941818 0%,#ca1111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#941818', endColorstr='#ca1111',GradientType=0 ); /* IE6-9 */
	box-shadow: 2px 0 5px -2px #000 inset, -2px 0 5px -2px #000 inset;
}

#bottom {
	position: relative;
	padding-top: 55px;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	color: #fff;
	text-shadow: 0 0 4px rgba(0, 0, 0, .5);
	filter: glow(color=black,strength=1);
	line-height: 22px;
}

#bottom p {
	margin-left: 240px;
	width: 450px;
	color: white;
	font-size: 12px;
	line-height: 22px;
}

#bottom-left {
	text-align: right;
	position: absolute;
	top: 55px;
	left: 0;
	width: 150px;
	height: auto;
}

#bottom-left-search {
	position: relative;
	text-align: right;
	height: 21px;
}

#bottom-left-search label {
	background: url(../images/sbutton.png) no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	float:left;
}

#bottom-left-search #keywords {
	background-color: #671111;
	border: none;
	border-top: 1px solid #510d0d;
	box-shadow: 0 0 2px #510d0d inset;
	color: white;
	width: 123px;
	margin-top: 0px;
	padding: 3px;
	float: left;
	border-radius: 5px;
}

#bottom-left-search #submit-button {
	display: none;
}

#bottom-left-links {
	position: relative;
	padding-top: 12px;
	list-style-type: none;
	margin: 0;
	text-align: right;
	width: 150px;
	filter: glow(color=black,strength=1);
}

#bottom-left-links a {
	text-decoration: none;
	color: #e0e0e0;
	font-size: 12px;
}

#bottom-logo {
	position: absolute;
	top: 0px;
	left: 180px;
	width: 120px;
	height: 120px;
	background-image: url(../images/tsxtlogoalpha.png);
}

#bottom-flink {
	position:absolute;
	right:30px;
	width:220px;
	top:55px;
	text-align:left;
}

#bottom-flink ul {
	list-style: none;
	color: white;
	font-size: 12px;
}

#bottom-flink ul li a {
	color: #e0e0e0;
	text-decoration: none;
	filter: glow(color=black,strength=1);
}

#bottom-flink p {
	margin: 0;
	width: 100%;
	text-align: left;
	filter: glow(color=black,strength=1);
}

#flink-left {
	width: 110px;
	margin-right: 2px;
	float: left;
	filter: glow(color=black,strength=1);
}

#flink-right {
	width: 100px;
	float: right;
	filter: glow(color=black,strength=1);
}

#bottom-contact {
	padding-top: 20px;
	padding-bottom:60px;
}

#bottom-contact p {
	line-height: 18px;
}

#bottom-legal {
	position: absolute;
	right: 30px;
	top: 185px;
	float: right;
	width: 220px;
}

#bottom-legal p {
	width: 100%;
	margin-left: 0;
	line-height: 18px;
	filter: glow(color=black,strength=1);
}

#slide {
	width: 100%;
	background: #e0e0e0;
	position:relative;
	overflow:auto;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, .5);
	border-radius: 0 0 10px 10px;
	z-index: 0;
}
#slide .dot {
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	float: left;
}
#slide li {
	list-style: none;
}
#slide ul li {
	height: 350px;
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
}
#slide img {
	width: 1000px;
	position: relative;
	top: -50%;
}
#slide .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}
#slide .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor:pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
#slide .dots li.active {
	background: #fff;
	opacity: 1;
}
#slide .description {
	position:absolute;
	top: 238px;
	left: 45px;
	line-height: 30px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
	filter: glow(color=black,strength=1);
	z-index: 1;
}

#slide .description p, #slide .description a {
	width: 800px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#slide .mask {
	position:absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height:145px;
	background-color:#000000;
	opacity: 0.4;
	filter: alpha(opacity=40);
	z-index: 0;
}

#slide .description a {
	color: #fff;
	text-decoration: none;
	font-size: x-large;
}
#slide .description p {
	font-size: large;
	color: #f0f0f0;
}

.columns {
	height: auto;
	width: 100%;
	padding-top: 10px;
	float: left;
}

.columns a {
	color: #000;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.itemlist a:hover {
	color: #89181b;
}

#s1c3 {
	width: 22%;
	float: left;
}

#s1c2 {
	width: 74%;
	float: right;
}

#s5c2 {
	width: 730px;
	float: left;
}

#s4 {
	width: 230px;
	float: right;
}

#s6c1 {
	width: 370px;
	float: left;
}

#s6c1 .itemlist a {
	width: 260px;
}

#s7 {
	width: 590px;
	float: right;
}

.column {
	margin: 5px 10px 5px 10px;
}

.col_header {
	width: 100%;
	height: 27px;
	border-bottom: 2px solid #671111;
	margin-bottom: 4px;
	box-shadow: 0px 2px 2px -2px #671111;
}

.header_title {
	width: 50%;
	float: left;
	padding-left: 5px;
	font-size: large;
	text-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.header_more {
	width: 55px;
	float: right;
	text-align: right;
	padding-right: 5px;
	line-height: 27px;
	font-size: 12px;
}

.header_more a {
	color: #808080;
	text-decoration: none;
}

.itemlist {
	width: 100%;
	padding-top: 2px;
	padding-right: 5px;
	line-height: 20px;
}

.item_dot {
	width: 10px;
	background: url(../images/dot.gif) no-repeat;
	background-position: 50% 50%;
}

.item_title{
	padding-left: 3px;
	text-align: left;
	font-size: small;
}

.item_title a {
	color: #000;
	text-decoration: none;
}

.item_date {
	color: #606060;
	width: 75px;
	text-align: right;
	font-size: small;
}

.imagelist {
	height: 140px;
}

.image_container {
	width: 160px;
	height: 160px;
	margin: 10px;
	display: block;
	overflow: hidden;
	position: relative;
	border-radius:10px;
}

.image_container img {
	width: 100%;
	height: 100%;
	border:none;
}

.image_popup {
	position: absolute;
	bottom: -45px;
	left: 0px;
	width: 100%;
	height: 45px;
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-decoration: none;
	line-height: 45px;
	font-size: large;
	color: #fff;
	padding-left: 10px;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.gallery {
	width: auto;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-radius: 10px;
}

.gallery tr td {
	width: 115px;
	border-collapse: collapse;
	border: none;
	padding: 0;
	margin: 0;
	position: relative;
}

.gallery_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 115px;
	height: 110px;
	z-index: 0;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.gallery_container span {
	position:absolute;
	left:0;
	top:0;
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
	text-decoration: none;
	display: none;
	width: 100%;
	height: 100%;
	font-size: x-large;
	text-align: center;
	line-height: 135px;
	z-index:10;
	filter: glow(color=black,strength=1);
}

.gallery_image {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.gallery_image img {
	position: absolute;
	height: 100%;
	width: 100%;
	border:none;
}

.gallery_padding {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	filter: alpha(opacity=30);
	background-color: #000;
	z-index: 5;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

#sidebar_container {
	float: right;
	width: 180px;
	padding-top: 10px;
}

#sidebar {
	width: 180px;
}

.sidebar_float {
	position: fixed;
	top: 50px;
}

#sidebar_header {
	height: 33px;
	border-bottom: 2px solid #89181b;
	line-height: 33px;
	text-align: right;
	display: block;
	font-size: 16px;
	padding-right: 10px;
	text-shadow: 0 0 4px rgba(0, 0, 0, .5)
}

#sidebar_navi {
	margin-top:10px;
	width: 100%;
	height: auto;
}

#sidebar_navi ul {
	list-style: none;
	width:100%;
}

#sidebar_navi ul li {
	text-align: right;
	line-height: 25px;
	margin-bottom: 5px;
	margin-right: 10px;
}

#sidebar_navi ul li a {
	text-decoration: none;
	color: #000;
}

#article_container {
	width: 800px;
	height: auto;
	float:left;
	padding-top: 10px;
}

#location {
	height:35px;
	width: 100%;
	line-height: 45px;
	background: #F7F7F7;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .5) inset;
}

#loc_prompt {
	height: 100%;
	width: auto;
	text-align: center;
	line-height: 35px;
	padding-left: 20px;
	padding-right: 20px;
	font-size:small;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 2px 0 10px -2px rgba(0, 0, 0, .5);
	float: left;
}

#loc_entry_1, #loc_entry_2 {
	height: 100%;
	width: auto;
	text-align: center;
	float: left;
	line-height: 35px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: -10px;
	font-size:small;
}

#loc_entry_3 {
	height: 100%;
	width: auto;
	text-align: left;
	line-height: 35px;
	padding-left: 25px;
	padding-right: 20px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	font-size:small;
}

#loc_sep_1, #loc_sep_2 {
	height: 100%;
	width: 27px;
	float:left;
	margin-right: -10px;
	background: url(../images/next.png);
	display: none;
}

#loc_entry_1 a, #loc_entry_2 a {
	font-size:small;
	text-decoration:none;
	color: #000;
	width:100%;
	height:100%;
	display:block;
}

#placeholder {
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 60px;
	width: auto;
	text-indent: 2em;
}

#placeholder p {
	width: auto;
	margin-bottom: 5px;
	line-height: 1.5em;
	word-break: break-all;
}

#newslist {
	width: 100%;
	text-indent: 0;
	line-height: 23px;
	font-size: small;
}

.newsdot {
	width: 20px;
	background: url(../images/dot.gif) no-repeat;
	background-position: 50% 50%;
}

.newstitle a {
	text-decoration: none;
	color: #000;
}

.newstitle a:hover {
	color: red;
	text-decoration: underline;
}

.newsdate {
	width: 100px;
	text-align: right;
}

#pager_container {
	width: 100%;
	text-align: center;
}

#pager {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding-top: 20px;
	padding-bottom: 20px;
}

.pagebutton {
	width: 30px;
	height: 30px;
	background: #F7F7F7;
	box-shadow: 0 0 4px rgba(0, 0, 0, .5) inset;
	border-radius: 5px;
	float: left;
	margin-right: 5px;
}

.pagebutton a {
	width: 100%;
	height: 100%;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	color: #000;
	line-height: 30px;
	display: block;
}

.nowpage {
	background: #671111;
}

.nowpage a {
	color: #fff !important;
}

.article {
	padding-top: 20px;
	padding-bottom: 40px;
}

.article_title {
	text-indent: 0;
	text-align: center;
	font-size: large;
	margin-bottom:5px;
}

.article_date {
	color: #303030;
	text-indent: 0;
	text-align: center;
	font-size: small;
}

.article_content {
	margin-top: 25px;
}
.article_content img {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 10px solid #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.article_content table {
	width: 100%;
}

.article_content tr td {
	border: 1px solid #000;
	text-indent: 0;
}

.article_content a {
	color: #671111;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (min--moz-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-device-pixel-ratio: 1.3),
only screen and (min-resolution: 120dpi) {
	#banner-content-logo {
		background-image: url(../images/logo@2x.png);
		background-size: 75px 75px;
	}
	#banner-content-title {
		background-image: url(../images/title@2x.png);
		background-size: 461px 57px;
	}
	#banner-content-right-logo {
		background-image: url(../images/tsxtlogo@2x.png);
		background-size: 75px 75px;
	}
	#bottom-logo {
		background-image: url(../images/tsxtlogoalpha@2x.png);
		background-size: 120px 120px
	}
	#bottom-left-search label {
		background-image: url(../images/sbutton@2x.png);
		background-size: 20px 20px;
	}
	#slide .dots li {
		-webkit-backface-visibility: hidden;
	}
}
