#slide {
	width: 100%;
	background: #e0e0e0;
	position:relative;
	overflow:auto;
	position:relative;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, .5);
	border-radius: 0 0 10px 10px;
	z-index: 0;
}
#slide .dot {
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	float: left
}
#slide li {
	list-style: none;
}
#slide ul li {
	float: left;
	min-height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	display: block;
	-ms-behavior: url(/backgroundsize.min.htc);
	position: relative;
}
#slide .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}
#slide .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor:pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
	/*-webkit-transform: translateZ(0);*/
	/*-webkit-backface-visibility: hidden;*/
}
#slide .dots li.active {
	background: #fff;
	opacity: 1;
}
#slide .description {
	position:absolute;
	top: 238px;
	left: 45px;
	line-height: 30px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
	filter: glow(color=black,strength=1);
	z-index: 1;
}

#slide .description p, #slide .description a {
	width: 800px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#slide .mask {
	position:absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height:145px;
	background-color:#000000;
	opacity: 0.4;
	filter: alpha(opacity=40);
	z-index: 0;
}

#slide .description a {
	color: #fff;
	text-decoration: none;
	font-size: x-large;
}
#slide .description p {
	font-size: large;
	color: #f0f0f0;
}

.columns {
	height: auto;
	width: 100%;
	padding-top: 10px;
	float: left;
}

.columns a {
	color: #000;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.itemlist a:hover {
	color: #89181b;
}

#activity {
	width: 22%;
	float: left;
}

#news {
	width: 74%;
	float: right;
}

#contest {
	width: 730px;
	float: left;
}

#learning {
	width: 230px;
	float: right;
}

#paperwork {
	width: 370px;
	float: left;
}

#paperwork .itemlist a {
	width: 260px;
}

#utility {
	width: 590px;
	float: right;
}

.column {
	margin: 5px 10px 5px 10px;
}

.col_header {
	width: 100%;
	height: 27px;
	border-bottom: 2px solid #671111;
	margin-bottom: 4px;
	box-shadow: 0px 2px 2px -2px #671111;
}

.header_title {
	width: 50%;
	float: left;
	padding-left: 5px;
	font-size: large;
	text-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.header_more {
	width: 55px;
	float: right;
	text-align: right;
	padding-right: 5px;
	line-height: 27px;
	font-size: 12px;
}

.header_more a {
	color: #808080;
	text-decoration: none;
}

.itemlist {
	width: 100%;
	padding-top: 2px;
	padding-right: 5px;
	line-height: 20px;
}

.item_dot {
	width: 10px;
	background: url(../images/dot.bmp) no-repeat;
	background-position: 50% 50%;
}

.item_title{
	padding-left: 3px;
	text-align: left;
	font-size: small;
}

.item_title a {
	color: #000;
	text-decoration: none;
}

.item_date {
	color: #606060;
	width: 75px;
	text-align: right;
	font-size: small;
}

.imagelist {
	height: 140px;
}

.image {
	width:160px;
	height:160px;
	padding: 10px 10px 10px 10px;
}
.image_container {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	background-position: 50% 50% !important;
	background-size: cover !important;
	position: relative;
	border-radius:10px;
	-ms-behavior: url(/backgroundsize.min.htc);
}

.image_popup {
	position: absolute;
	bottom: -45px;
	left: 0px;
	width: 100%;
	height: 45px;
	/*background: rgba(64, 64, 64, 0.6);*/
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.image_popup a {
	text-decoration: none;
	line-height: 45px;
	font-size: large;
	color: #fff;
	padding-left: 10px;
}

.gallery {
	width: auto;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-radius: 10px;
}

.gallery tr td {
	width: 115px;
	border-collapse: collapse;
	border: none;
	padding: 0;
	margin: 0;
	position: relative;
}

.gallery_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 115px;
	height: 110px;
	z-index: 0;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.gallery_container a {
	position:absolute;
	left:0;
	top:0;
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
	text-decoration: none;
	display: none;
	width: 100%;
	height: 100%;
	font-size: x-large;
	text-align: center;
	line-height: 135px;
	z-index:10;
	filter: glow(color=black,strength=1);
}

.gallery_image {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 50% 50% !important;
	background-size: cover !important;
	-ms-behavior: url(/backgroundsize.min.htc);
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.gallery_padding {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	filter: alpha(opacity=30);
	background-color: #000;
	z-index: 5;
}

