.image_container:hover .image_popup {
	bottom: 0px;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.gallery_container:hover {
	z-index: 2;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
	left: -10px;
	top: -10px;
	width: 135px;
	height: 130px;
}

.gallery_container:hover a {
	display: inline;
}

.gallery_container:hover .gallery_image {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}
